.env
.env.*
!.env.example

.venv/
venv/

# uv
.uv/
uv-cache/
**/.uv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

instance/
*.log

build/
dist/
*.egg-info/
